{% extends "base.html" %}
{% block content %}
  <form method="get" action="">
    Search term:
    <input type="text" name="search" value="{{ search_term }}">
    <button type="submit">Search</button>
  </form>
  
  <h3>All notes {% if search_term %}(filtered for "{{search_term}}"){% endif %}</h3>
  <ul>
    {% for n in notes %}
      <li><a href="{{ url_for('show_note', name=n) }}">{{n}}</a></li>
    {% endfor %}
  </ul>
  
  <hr/>
  
  <h3>Add a new note</h3>
  <form method="post" action="{{ url_for('add_note') }}">
    <p><input type="text" name="name" placeholder="Note name"></p>
    <p><textarea name="content" placeholder="Note content"></textarea></p>
    <button type="submit">Add note</button>
  </form>
{% endblock %}